<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">Училищна библиотека</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div id="nav" class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/catalog" routerLinkActive="active">Каталог</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="/my" routerLinkActive="active">Моята библиотека</a>
                </li>

                <!-- teacher or admin -->
                @if (auth.isStaff()) {
                <li class="nav-item">
                    <a class="nav-link" routerLink="/teacher" routerLinkActive="active">Учител</a>
                </li>
                }

                @if (auth.isAdmin()) {
                <li class="nav-item">
                    <a class="nav-link" routerLink="/admin/users">Админ</a>
                </li>
                }
            </ul>


            <div class="d-flex align-items-center gap-2">
                @if (isLoggedIn()) {
                <span class="small me-2 text-white">Здравей, {{ meName() === '' ? 'Гост' : meName() }}</span>
                <button class="btn btn-outline-secondary" type="button" (click)="logout()">Изход</button>
                } @else {
                <button class="btn btn-outline-primary" type="button" (click)="login()">Вход</button>
                }


                <!-- @if (auth.isStudent()) {
                <div class="d-flex align-items-center gap-2">
                    <span class="text-light small">Паралелка:</span>
                    <select class="form-select form-select-sm" style="width: 90px;" [value]="auth.classValue()"
                        (change)="auth.setClassCode($any($event.target).value)">
                        @for (c of classOptions; track c) {
                        <option [value]="c">{{ c }}</option>
                        }
                    </select>
                </div>
                } -->

                <!-- <span class="text-light small">
                    Роля: <strong>{{ auth.isTeacher() ? 'Учител' : 'Ученик' }}</strong>
                </span>

                <button class="btn btn-sm btn-outline-light" type="button" (click)="auth.toggleRole()">
                    Смени роля
                </button> -->
            </div>
        </div>
    </div>
</nav>

<main class="container py-3">
    <router-outlet></router-outlet>
</main>